/* General Styles */
.logpagewrapper::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../public/dvla.png');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -2;
}

.logpagewrapper::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 background-color: rgba(255, 255, 255, 0.477);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -2;
}


.logPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.logPageContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.logPageContainer form {
    display: flex;
}

.logInner > div > div {
    margin: 20px;
}

.logInner {
    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.56);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .logInner {
        flex-direction: column; /* Stack the two divs vertically */
        align-items: center; /* Center the divs */
    }

    .logInner > div {
        width: 100%; /* Make each inner div take full width */
        display: flex;
        justify-content: space-around; /* Keep their content in a row */
        flex-direction: row; /* Ensure content stays in a row */
       
    }

    .card33 {
        width: 45%; /* Adjust card width to fit two in a row */
        margin: 0 10px; /* Add margin between cards */
        
    }

    .card33-border-top {
        height: 4px;
        background-color: #333;
    }

    .img3 {
        width: 100%;
        height: 150px; /* Adjust image height for mobile */
    }

    button {
        width: 100%; /* Make the buttons take full width */
        padding: 10px;
        font-size: 16px;
    }

    span {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .img3 {
        height: 120px; /* Further adjust image height for smaller screens */
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}
